body{
	background: #BDC2C9;
}
.columns{
	//border: 1px solid green;
}

.wrapper{
	height: 100%;
}

.wrapper_welcome{
	padding-top: 50px;
	//border: 1px solid pink;
	height: 100%;
	//background:-webkit-gradient(radial, 134 189, 0, 188 32, 260, from(#E6EAEF), to(#BDC2C9));
	@include background-image(radial-gradient(45px 55px, #F0F4FA 10px, #BDC2C9 400px));
}

input.form--input{
	padding: $fieldset-padding;
	//border: 1px solid red;
	height: 60px;
}

.wrapper_form--input{
	height: 80px;
}
