.wrapper_card{
	//border: 1px solid green;
	width: 57%;
	height: 300px; //for testing, replace with padding and %
	text-align: center;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 65px;
	@include rotate(-2); 
	background-color: #ffffff;
	box-shadow: -10px 10px 30px #C4C4C4;
}

.welcome_header{
	margin: 0 auto;
	text-align: center;
	//border: 1px solid blue;
}

.wrapper_button--card{
	margin: 0 auto;
	width: 200px;
	//border: 1px solid black;
	
	a.button{
			width: 100%;
			padding: 20px 0;
			background-color: $grey;
			&:hover{
				background-color: $dark-grey;
			}
	}
	a.simple{ 
		@include border-radius(2px, 2px); //compass border radius
	}

}