.wrapper_card{
	//border: 1px solid green;
	width: 45%;
	min-width: 500px;
	height: 45%; //for testing, replace with padding and %
	text-align: center;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 65px;
	@include rotate(-2); 
	background-color: #ffffff;
	box-shadow: -10px 10px 30px #C4C4C4;
}

.welcome_header{
	margin: 0 auto;
	text-align: center;
	//border: 1px solid blue;
}
/*
.wrapper_button--card{
	margin: 0 auto;
	width: 200px;
	//border: 1px solid black;
	
	a.button{
			width: 100%;
			padding: 20px 0;
			background-color: $grey;
			&:hover{
				background-color: $dark-grey;
			}
	}
	a.simple{ 
		@include border-radius(2px, 2px); //compass border radius
	}

}*/
.button_card{
	width: 200px;
	position: relative;
	left: 41%;
}
.button_form{
	width: 380px;
	position: relative;
	left: -155px;
}
.slide {
  position: relative;
  width: 100%;
  //border: 1px solid red; 
}
.slide .inner {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110%;
  height: 525px;
  background-color: $dark-grey;
  //border: 1px solid red; 
}
form{
	//border: 1px solid red; 
	width: 50%;
	position: absolute;
	top: 70px;
	left: 28%;
}